<section class="about">
    <img src="assets/images/8536731.jpg" alt="About us" />
    <div class="about-text">
        <h2>About <em>AddAccounts</em></h2>
        <p>
            Previously known as <b>Real Accounts</b>, has been a pioneer in the world of accounting
            education.
            With decades of hands-on experience, we have guided businesses across a vast range
            of fields, including taxation, auditing, and financial management. </p>
        <p> What sets us apart is
            not
            just our expertise, but the depth of real-world experience our team brings to the table. From helping
            startups
            set up their accounting systems to mentoring professionals in advanced financial strategies, AddAccounts has
            consistently grown to become a trusted name in financial education and professional guidance. Our journey
            reflects
            a commitment to excellence, integrity, and empowering learners to achieve clarity and confidence in
            accounting.
        </p>
    </div>

</section>