<!-- ==== NAVBAR START ==== -->
<nav>
  <a href="#" class="logo">AddAccounts</a>
  <ul class="nav-links">
    <li><a href="#"><span>Home</span></a></li>
    <li><a href="#"><span>Tutor</span></a></li>
    
    <!-- Nav item with dropdown -->
    <li>
      <a href="#"><span>Courses</span></a>
      <ul class="dropdown">
        <li><a href="#"><span>Basic Accounting</span></a></li>
        <li><a href="#"><span>Advance Accounting</span></a></li>
      </ul>
    </li>

    <li><a href="#"><span>Testimonials</span></a></li>
  </ul>
  <button class="nav-btn">Connect with us</button>
</nav>
<!-- ==== NAVBAR END ==== -->